# Appwrite Configuration

NEXT_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1  # Your Appwrite Cloud endpoint
NEXT_PUBLIC_APPWRITE_PROJECT=                              # Your Appwrite Project ID
NEXT_APPWRITE_KEY=                                         # Your Appwrite API Key (keep this secure and private)
